apiVersion: v1
kind: Service
metadata:
  name: devops-chatbot
  namespace: default
  labels:
    app: devops-chatbot
spec:
  type: LoadBalancer
  selector:
    app: devops-chatbot
  ports:
  - name: http
    port: 80
    targetPort: 5000
    protocol: TCP
  sessionAffinity: ClientIP
